<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>博主笔记</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/adou_blog.css">
	<style>
		h1 {
			padding-top: 60px;
			padding-left: 40px;
		}
	</style>
</head>
<body>
	<% include header.ejs %>
	<div class="container">
		<h1>敬请期待！</h1>
	</div>	
</body>
</html>