<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>所有成员</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<style>

	</style>
</head>
<body>
	<% include header.ejs %>
	<section class="mrt50">
		<div class="container">
		<%if(!login){%>
			<div class="container">
       			<p>您尚未登陆，无法查看我们的用户,请登录！</p>
       		</div>
       	<%}
		</div>
	</section>
	
</body>
</html>