<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>警告</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/adou_blog.css">
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<style>
		.mrt50 {
			text-align: right;
			margin-top: 40px;
		}
	</style>
</head>
<body>

	<section class="mrt50 container">
		<img src="/images/404.jpg" alt="" >
		<h2>
			请先登录！
		</h2>
		<a href="/login" class="btn btn-success">登录</a>
	</section>
	
	
</body>
</html>