<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>网站展示</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/adou_blog.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/hover.min.css">
	<link rel="stylesheet" href="/css/website_module.css">
    <script  src="/js/jquery-1.11.3.min.js"></script>
    <script  src="http://api.map.baidu.com/api?v=2.0&ak=K4VQM2n4iqE0kQZ0F8Y6HYdhfuGIktpB"/>
    <style>
        audio {
            opacity: 0;
            
        }
        .music {
            color: #005aa0;
            font-size: 12px !important;
        }
    </style>
</head>
<body>
	<% include header.ejs %>
	<div class="container"><h1 class="gradute_year">毕业那年-仅以怀念 <audio src="/audio/Dream It Possible.mp3" >您的浏览器不支持此项功能</audio></h1><button class="music btn-success">来点音乐</button></div>
	<div id="wrap">
		<section class="img_text_test text_image section_animate fadeInUp" style="margin-top: 70px;margin-bottom: 20px">
                <div class="container animate_css">
                    <div class="row out_box">
                        <div class="col-md-7 col-sm-12 col-xs-12 img_title1">
                            <h3>转眼间的毕业年半</h3>
                        </div>
                        <div class="col-md-6 col-md-push-6 col-sm-12 col-xs-12 text1_img">
                            <img src="/images/me_chen.jpg"
                                class="img img-responsive texts_img1 hvr-grow"/>
                        </div>
                        <div class="col-md-6 col-md-pull-6 col-sm-12 col-xs-12 img_texts1">
                            <p>
                            	这个大高个，是我长这么大见过最大的。<br>
                            	个头虽大，但是没有那么威严，就是一只大都比 <br>
                            </p>
                        </div>
                    </div>
                </div>
        </section>
        <section class="img_text_test image_text section_animate fadeInUp">
                <div class="container animate_css">
                    <div class="row out_box">
                        <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12 img_title1">
                            <h3>还跟他打过架，像这样</h3>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 text1_img2">
                            <img src="/images/me_chen_fight.jpg"
                                class="img img-responsive texts_img2 hvr-grow"/>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 img_texts1">
                            <p>
                            	我还和他传过“绯闻”，班级群里还有和他的一段录像 <br>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
		<section class="section_animate bounceInLeft" >
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 animate_css first_img">
                        <a class="image-link" href="#">
                            <img class="img img-responsive hvr-grow"
                                 src="/images/bounce_room.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 animate_css second_img">
                        <a class="image-link" href="#">
                            <img class="img img-responsive hvr-grow"
                                src="/images/foursb.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 animate_css thred_img">
                        <a class="image-link" href="#">
                            <img class="img img-responsive hvr-grow"
                                src="/images/yiliu.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 animate_css fourth_img">
                        <a class="image-link" href="#">
                            <img class="img img-responsive hvr-grow"
                                src="/images/me_chen_fight2.jpg"/>
                        </a>
                    </div>
                </div>
            </div>
	    </section>
	    <section class="section_animate fadeInUp mt20">
            <div class="container">
                <div class="col-md-6 clo-sm-12 col-xs-12 animate_css">
                    <img src="/images/realsb.jpg" class="img img-responsive hvr-grow" alt="img"/>
                    <div>
                        <h3>这是一帮SB，不掺水的SB们</h3>                       
                    </div>
                </div>
                <div class="col-md-6 clo-sm-12 col-xs-12">
                    <div class="logo_text_details first_div animate_css_leftIn animate_css">
                        <img src="/images/chen_huang.jpg" alt="" class="img img-responsive hvr-grow"/>
                        <div>
                            <h3>老板黄和大个陈的深情ku式对唱</h3>  
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section class="section_animate bounceInRight" >
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 animate_css first_img">
                        <a class="image-link" href="#">
                            <img class="img img-responsive hvr-grow"
                                 src="/images/bounce_room.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 animate_css second_img">
                        <a class="image-link" href="#">
                            <img class="img img-responsive hvr-grow"
                                src="/images/foursb.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 animate_css thred_img">
                        <a class="image-link" href="#">
                            <img class="img img-responsive hvr-grow"
                                src="/images/yiliu.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 animate_css fourth_img">
                        <a class="image-link" href="#">
                            <img class="img img-responsive hvr-grow"
                                src="/images/me_chen_fight2.jpg"/>
                        </a>
                    </div>
                </div>
            </div>
	    </section>
        <section class="container mt20">
            <div id="company_address_map" style="height:300px;background-color: #ddd;">
                <script type="text/javascript">
                    var address = "上海市浦东新区张江镇益江路511弄" ;
                    var map = new BMap.Map("company_address_map");
                    if(true){
                        map.centerAndZoom("上海市浦东新区张江镇益江路511弄", 14);
                        map.enableScrollWheelZoom(); //启用滚轮放大缩小，默认禁用
                        map.enableContinuousZoom(); //启用地图惯性拖拽，默认禁用
                        map.addControl(new BMap.NavigationControl()); //添加默认缩放平移控件
                        map.addControl(new BMap.OverviewMapControl()); //添加默认缩略地图控件
                        map.addControl(new BMap.OverviewMapControl({ isOpen: false, anchor: BMAP_ANCHOR_BOTTOM_RIGHT
                        })); //右下角，打开
                        var localSearch = new BMap.LocalSearch(map);
                        localSearch.enableAutoViewport(); //允许自动调节窗体大小
                        localSearch.setSearchCompleteCallback(function (searchResult) {
                        var poi = searchResult.getPoi(0);
                        map.centerAndZoom(poi.point, 14);
                        var icon = new BMap.Icon("/images/icon.png",new BMap.Size(100,100));

                        var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat),{icon:icon});  
                        map.addOverlay(marker);
                        marker.setAnimation(BMAP_ANIMATION_BOUNCE);
                        var telphone = '<a href="tel:18516217735">18516217735</a>';
                        var infoWindow = new BMap.InfoWindow(
                        '我在这里，有空找我玩，<br/>'+"地址："+address+'<br/>'+"电话:"+telphone);
                        marker.addEventListener("click", function () { this.openInfoWindow(infoWindow,address); });
                        });
                        localSearch.search(address);
                    }else{
                        document.getElementById("company_address_map").style.border="1px solid #ddd";
                        document.getElementById("company_address_map").style.padding="20px";
                        document.getElementById("company_address_map").style.color="red";
                        document.getElementById("company_address_map").innerHTML='对不起，定位错误';
                    }
                </script>

            </div>
        </section>
        <section>
        	<div class="container">
        		<h3>慢慢放上更多的DouBi皂片</h3>
        	</div>
        </section>   
    </div> 
    <script src="/js/adou_website.js"></script>
    <script>
        var audio = document.getElementsByTagName('audio');
        $(".music").click(function () {
            if(audio[0].paused){ //如果当前是暂停状态
                audio[0].play(); //播放
            }
        })
    </script>
</body>
</html>